*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: var(--blue);

    &:hover {
        text-decoration: underline;
    }
}

:root {
    --base: #555;
    --base-100: #f1f1f1;
    --base-400: #555;
    --base-800: #000;
    --yellow: #ffda4b;
    --yellow-100: #fffbe6;
    --yellow-400: #ffda4b;
    --yellow-800: #8b6f00;
    --blue: #0a61ae;
    --blue-100: #e2f8ff;
    --blue-400: #61dafb;
    --blue-800: #0a61ae;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);


    .logo-holder {
        display: flex;
        align-items: center;
        font-weight: 600;
        color: var(--base-800);

        @media (max-width:768px) {
            align-self: flex-start;
        }

        @media (max-width:1024px) {
            padding: 10px
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--base-800);
            color: var(--base-100);
            width: 64px;
            height: 64px;
            border-radius: 50%;
            margin-right: 10px;
            font-size: 32px;

        }

        .logo-text {
            flex: 1;
        }
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style-type: none;
            gap: 5px;
            transition: max-height 0.3s ease-in-out;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    padding: 10px 20px;
                    color: var(--base);

                    &:hover {
                        background: var(--base-100);
                        text-decoration: none;
                        border-radius: 5px;
                    }
                }
            }

        }

        .mobile-toggle {
            display: none;
            padding: 10px;
            color: var(--base-800);

            @media (max-width:768px) {
                display: inline-block;
                position: absolute;
                top: 20px;
                right: 5px;
            }
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;

        nav {
            margin-top: 10px;
            width: 100%;

            ul {
                display: flex;
                flex-direction: column;
                width: 100%;
                text-align: center;
                transition: max-height 0.3s ease-in-out;
                overflow: hidden;
                max-height: 0;

                a {
                    width: 100%;
                }

                &.active {
                    display: flex;
                    max-height: 500px;
                }
            }
        }
    }
}

.container {
    max-width: 1440px;
    gap: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: 1440px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.button {
    background-color: var(--blue);
    color: var(--base-100);
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
    transition: ease 0.3s all;

    &:hover {
        text-decoration: none;
        background-color: var(--base-800);
    }

    &.white {
        background-color: white;
        color: var(--base-800);

        &:hover {
            background-color: var(--base-100);
            color: var(--base);

        }
    }

    &.black {
        background-color: black;
        color: white;

        &:hover {
            background-color: var(--base);
            color: var(--base-100);
        }
    }
}

h1 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;

    small {
        display: block;
        font-weight: 100;
    }

    @media (max-width: 1024px) {
        font-size: 48px;
    }
}

.hero {
    display: flex;

    @media (max-width: 1024px) {
        flex-direction: column;
    }

    .hero-blue {
        flex: 1;
        background-color: var(--blue-100);
        display: flex;
        flex-direction: column;
        padding: 30px;
        border-radius: 30px;
        justify-content: center;

        .call-to-action {
            margin-top: 20px;
            margin-bottom: 10px;

            a {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }

        .social-links {

            /* a {
                &:hover {
                    text-decoration: none;
                }
            } */
            a {
                text-decoration: none;

                img {
                    transition: transform 0.2s;
                }

                &:hover img {
                    transform: scale(1.1);
                }
            }

        }

        .contacts {
            .contact {
                a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: black;
                }

                @media(max-width: 375px) {
                    font-size: 16px;
                }
            }
        }
    }

    .hero-yellow {
        flex: 1;
        background-color: var(--yellow);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 0 30px;

        img {
            max-width: 420px;
            margin-top: -60px;
        }
    }

}

.logos {
    background-color: var(--base-100);
    border-radius: 30px;
    padding: 30px 0;
    margin-left: -1rem;
    margin-right: -1rem;
    max-width: 1440px;


    @media (min-width:1440px) {
        border-radius: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .marquee {
        width: 100vw;
        max-width: 100%;
        height: 128px;
        overflow: hidden;
        position: relative;


        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 40s linear infinite;
            display: flex;
            gap: 10px;

        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

h2 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    padding: 30px;
    color: var(--base-800);

    small {
        display: block;
        font-weight: 100;
        font-size: 0.5em;
        color: var(--base);
    }

    @media (max-width: 1024px) {
        font-size: 48px;
    }
}

h3 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1;
    color: var(--base-800);

    @media (max-width: 1024px) {
        font-size: 24px;
    }
}

.skills {
    .holder-blue {
        background-color: var(--blue-100);
        border-radius: 30px;
        padding: 30px;
        display: flex;

        @media (max-width:1024px) {
            flex-direction: column;
        }

        .left-column {
            flex: 1;

            ul {
                list-style-type: none;
                gap: 10px;
                margin-right: 100px;
                margin-bottom: 20px;

                li {
                    display: inline-block;
                    background-color: var(--blue-400);
                    border-radius: 15px;
                    padding: 10px 20px;
                    margin-bottom: 10px;
                }
            }
        }

        .right-column {
            flex: 1;

            p {
                margin-bottom: 20px;
            }
        }
    }
}

.experience {
    .jobs {
        display: flex;
        gap: 30px;

        @media (max-width: 1024px) {
            flex-direction: column;
        }

        article {
            background-color: var(--yellow-100);
            border-radius: 30px;
            padding: 30px;
            flex: 1;

            h3 {
                margin-bottom: 10px;
            }

            div {
                color: var(--base-800);
                font-weight: 600;
                margin-bottom: 5px;
            }

            ul {
                margin-bottom: 10px;
                margin-left: 22px;
            }
        }
    }
}

.projects {
    max-width: 1440px;
    margin: auto;
    margin-bottom: 30px;


    .projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;


        @media (max-width: 1024px) {
            flex-direction: column;
            gap: 30px;
        }
    }


    .project {
        flex: 0 1 calc(50% - 10px);
        background-color: var(--base-100);
        border-radius: 30px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        img {
            object-fit: cover;
            transition: ease 2s all;

            &:hover {
                transform: scale(1.1);
            }
        }

        .project-content {
            padding: 30px;
        }

        .demo-links {
            margin-top: auto;
        }

        p {
            margin-bottom: 10px;
        }

        .tech {
            font-weight: bold;
            color: var(--blue-800);
            padding: 0 5px;
        }

        .tech:hover {
            text-decoration: underline;
        }


    }

}

footer {
    padding: 10px 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }




    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-holder {
        display: flex;
        align-items: center;
        font-weight: 600;
        color: var(--base-800);

        @media (max-width:768px) {
            align-self: center;
        }

        @media (max-width:1024px) {
            padding: 10px
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--base-800);
            color: var(--base-100);
            width: 64px;
            height: 64px;
            border-radius: 50%;
            margin-right: 10px;
            font-size: 32px;

        }

        .logo-text {
            flex: 1;
        }
    }

    a {
        margin-right: 15px;
        text-decoration: none;

        img {
            transition: transform 0.2s;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }




    .footer-tagline {
        text-align: center;
        font-size: 16px;
        color: var(--base-400);
    }

}