*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--blue);

    &:hover {
        text-decoration: underline;
    }
}

:root {
    --base: #555;
    --base-100: #f1f1f1;
    --base-400: #555;
    --base-800: #000;
    --yellow: #ffda4b;
    --yellow-100: #fffbe6;
    --yellow-400: #ffda4b;
    --yellow-800: #8b6f00;
    --blue: #0a61ae;
    --blue-100: #e2f8ff;
    --blue-400: #61dafb;
    --blue-800: #0a61ae;
}

header {
    display: flex;
    justify-content: space-between;

    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    max-width: 1440px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .logo-holder {
        display: flex;
        padding: 10px;
        align-items: center;
        font-weight: 600;
        color: var(--base-800);

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--base-800);
            color: var(--base-100);
            width: 64px;
            height: 64px;
            border-radius: 50%;
            margin-right: 10px;
            font-size: 32px;

        }

        .logo-text {
            flex: 1;
        }
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style-type: none;
            gap: 5px;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    padding: 10px 20px;
                    color: var(--base);

                    &:hover {
                        background: var(--base-100);
                        text-decoration: none;
                        border-radius: 5px;
                    }
                }
            }

        }

        .mobile-toggle {
            display: none;
            padding: 10px;
            color: var(--base-800);

            @media (max-width:768px) {
                display: inline-block;
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;

        nav {
            margin-top: 10px;
            width: 100%;

            ul {
                display: none;
                flex-direction: column;
                width: 100%;
                text-align: center;

                a {
                    width: 100%;
                }

                &.active {
                    display: flex;
                }
            }
        }
    }
}